#to-do-panel {
    background-color: grey;
}

#map-panel {
    background-color: pink;
    height: 500px;
}

.container {
    height: fit-content;
}
.brand-logo {
    font-family: 'Mansalva', cursive;
}

#restaurant-name-display {
    font-weight: bold;
    font-size: 1.75rem;
}

.search-text-display {
    font-size: 1.25rem;
    padding-top: 1vh;
}

#search-container {
    font-family: 'Slabo 27px', serif;
}

input, button {
    font-family: 'Josefin Sans', sans-serif;

}

.nav-content {
    font-family: 'Josefin Sans', sans-serif;
}